.section {
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--color5);
}

.container {
  margin: calc(60px * var(--factor)) 0;
  display: flex;
  flex-direction: column;
  color: var(--color2);
}

.title {
  font-size: calc(58px * var(--factor));
  font-weight: 400;
  font-style: italic;
}

.title span {
  font-weight: 700;
  color: var(--color3);
  font-style: normal;
}

.cards {
  display: flex;
  min-width: calc(1780px * var(--factor));
  max-width: calc(1780px * var(--factor));
  margin-top: calc(100px * var(--factor));
}

.img {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: black;
  overflow: hidden;
}

.subtitleCard {
  margin-top: calc(10px * var(--factor));
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subtitleCard span {
  font-size: calc(24px * var(--factor));
  font-weight: 700;
}

.subtitleCard button {
  background-color: var(--color5);
  border: 0;
  color: var(--color3);
  font-size: calc(24px * var(--factor));
}

.dataCard {
  margin-top: calc(10px * var(--factor));
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.geo {
  display: flex;
  align-items: flex-end;
}

.geo p {
  font-size: calc(24px * var(--factor));
}

.geo svg {
  height: calc(35px * var(--factor));
}

.metric {
  display: flex;
  align-items: flex-end;
  gap: calc(5px * var(--factor));
}

.metric p {
  font-size: calc(22px * var(--factor));
}

.metric svg {
  height: calc(30px * var(--factor));
}

@media (max-width: 1000px) {
  .cards {
    display: flex;
    min-width: 90vw;
    width: 80vw;
    max-width: 80vw;
  }
}
