.section {
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  z-index: 0;
}

.container {
  margin: calc(200px * var(--factor)) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color2);
  gap: calc(151px * var(--factor));
}

.divImg {
  width: calc(608px * var(--factor));
  height: calc(438px * var(--factor));
  background-color: black;
  position: relative;
  opacity: 0;
  transition: 1s;
}

.isLoaded,
.isLoaded img,
.isLoaded svg {
  opacity: 1;
}
.divImg img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: calc(-100px * var(--factor));
  left: calc(-250px * var(--factor));
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.divData {
  width: calc(700px * var(--factor));
}

.divData h2 {
  font-size: calc(63px * var(--factor));
  font-weight: 400;
  font-style: italic;
}

.divData span {
  color: var(--color3);
  font-weight: 700;
  font-style: normal;
}

.divData p {
  font-size: calc(24px * var(--factor));
}

.divData button {
  margin-top: calc(16px * var(--factor));
  font-size: calc(24px * var(--factor));
  padding: calc(8px * var(--factor)) calc(30px * var(--factor));
  background: linear-gradient(to left, var(--color3), var(--color4));
  color: var(--color2);
}

@media (max-width: 1000px) {
  .section {
    min-height: auto;
    height: auto;
  }

  .container {
    margin: 50px 0;
    flex-direction: column;
    gap: 50px;
  }

  .divData {
    width: 80%;
  }

  .divData button {
    margin-top: 20px;
  }

  .divData p {
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .divData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .divData h2 {
    width: 95%;
  }

  .divData p {
    width: 90vw;
  }
}

@media (max-width: 390px) {
  .divImg {
    display: none;
  }
}
