/* Container */

.section {
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}

.container {
  margin: calc(50px * var(--factor)) 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color2);
}

/* Data */

.title {
  font-size: calc(63px * var(--factor));
  font-weight: 400;
  font-style: italic;
}

.title span {
  font-weight: 700;
  color: var(--color3);
  font-style: normal;
}

.container ul {
  margin-top: calc(60px * var(--factor));
  display: flex;
  font-size: calc(26px * var(--factor));
  gap: calc(141px * var(--factor));
}

.container li {
  transition: 0.2s;
  white-space: nowrap;
}

.container li:hover {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: calc(60px * var(--factor));
  gap: calc(88px * var(--factor));
}

.active {
  transform: scale(1.1);
  font-weight: 600;
  border-bottom: calc(6px * var(--factor)) var(--color3) solid;
}

/* Data Imgs */

.imgs {
  display: flex;
  gap: calc(13px * var(--factor));
}

.imgs1 {
  display: flex;
  flex-direction: column;
  gap: calc(13px * var(--factor));
}

.img1 {
  width: calc(404px * var(--factor));
  height: calc(243px * var(--factor));
  background-color: black;
}

.img2 {
  width: calc(404px * var(--factor));
  height: calc(304px * var(--factor));
  background-color: black;
  border-radius: calc(22px * var(--factor));
}

.imgs2 {
  display: flex;
  flex-direction: column;
}

.img3 {
  width: calc(343px * var(--factor));
  height: calc(378px * var(--factor));
  background-color: black;
}

.dataImg {
  width: calc(343px * var(--factor));
  height: calc(182px * var(--factor));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dataImg h1 {
  font-weight: 600;
  font-size: calc(73px * var(--factor));
  color: var(--color3);
}

.dataImg p {
  margin-top: calc(-20px * var(--factor));
  font-size: calc(33px * var(--factor));
}
/* Data Service */

.data h2 {
  font-size: calc(50px * var(--factor));
  font-weight: 600;
  line-height: 1;
}

.data p {
  margin-top: calc(20px * var(--factor));
  font-size: calc(24px * var(--factor));
  width: calc(760px * var(--factor));
}

.iconsDiv {
  display: flex;
  flex-direction: column;
  gap: calc(20px * var(--factor));
  margin-top: calc(20px * var(--factor));
}

.icons {
  display: flex;
  height: min-content;
  align-items: center;
  gap: calc(8px * var(--factor));
}

.icon {
  border: calc(2px * var(--factor)) var(--color2) solid;
  border-radius: calc(14px * var(--factor));
  padding: calc(3px * var(--factor));
  height: calc(45px * var(--factor));
  width: calc(45px * var(--factor));
}

.icons p {
  font-size: calc(23px * var(--factor));
  line-height: 1;
  margin: 0;
  width: min-content;
}

.data button {
  margin-top: calc(16px * var(--factor));
  font-size: calc(24px * var(--factor));
  padding: calc(8px * var(--factor)) calc(30px * var(--factor));
  background: linear-gradient(to left, var(--color3), var(--color4));
  color: var(--color2);
}

@media (max-width: 1000px) {
  .container ul {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    overflow-x: scroll;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: calc(60px * var(--factor));
    gap: calc(88px * var(--factor));
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data h2 {
    text-align: center;
  }

  .data h2 br {
    display: none;
  }

  .imgs {
    justify-content: center;
  }

  .data p {
    min-width: none;
    width: 80vw;
  }

  .iconsDiv {
    display: flex;
    width: 70vw;
    justify-content: space-between;
  }

  .icons p {
    width: min-content;
  }
}

@media (max-width: 550px) {
  .container ul {
    width: 90vw;
    justify-content: flex-start;
    gap: 50px;
    overflow-x: scroll;
  }
}

@media (max-width: 500px) {
  .imgs1 {
    display: none;
  }

  .data {
    min-width: 90vw;
    width: 90vw;
  }

  .data p {
    min-width: none;
    width: 90vw;
  }

  .iconsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
}
